nav{
    background-color: green;

}

nav img{
    width: 50px;
}
nav ul{
    float: right;
    list-style-type: none;
}
 ul li {
     display: inline-block;
     margin: 20px;
 }

 li a{
     color: white; 
     text-decoration: none;
     cursor: pointer;
 }

    li a:hover{
        color: lightgreen;
    }